#btnadd{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-control{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.sidebar{
	padding:0px !important;
	height: 100vh !important;
	border:solid 1px #dfdfdf;
}



.list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.list-group-item.active {
    background-color: #343a40 !important;
    border-color: #e0e0e0 !important;
}

.sidebar .list-group .list-group-item a{
	text-decoration: none;
	color: #495057;
}

.sidebar .list-group .active a{
	color: white;
}

.form1{
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}