{% extends "layout2.html" %}
{% block content %}
<form method="post" action="/adminupdate/{{admin.admin_user}}">
	{% csrf_token %}
	<input type="text" name="fname" value="{{admin.fname}}">
	<input type="text" name="lname" value="{{admin.lname}}">
	<input type="email" name="email" value="{{admin.email}}">
	<input type="password" name="password" value="{{admin.password}}">
	<input type="password" name="cpassword" value="{{admin.cpassword}}">

<button type="submit">submit</button>
</form>
<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#admin").addClass("active");
	})
</script>
{% endblock content %}