{% extends "layout2.html" %}
{% block content %}

<form method="post" class="form1" action="/bookcreate">
	{% csrf_token %}
	First name:<input type="name" class="form-control" name="Fname">
	Last Name:<input type="name" class="form-control" name="Lname">
	Email:<input type="email" class="form-control" name="Email">
	Number:<input type="number" class="form-control" name="Number">
	Checkin Date:<input type="date" class="form-control" name="Checkin">
	Checkout Date:<input type="date" class="form-control" name="Checkout">
	No of People:<input type="number" class="form-control" name="Noofpeople">
	<button type="submit" class="btn btn-primary">Submit</button>

</form>

<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#booking").addClass("active");
	})

</script>
{% endblock content %}