{% extends "layout2.html" %}
{% block content %}

<input type="text" id="booksearch" placeholder="search by First Name" class="form-control col-md-4" style="margin-left: 10px">
<div class="table-responsive">
<table class="table">

	<tr>
		<th>ID</th>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Email</th>
		<th>Number</th>
		<th>CheckIN Date</th>
		<th>Checkout Date</th>
		<th>No of people</th>
		
	</tr>

{% for book in books %}
<tr>
	<td>{{book.book_id}}</td>
	<td>{{book.Fname}}</td>
	<td>{{book.Lname}}</td>
	<td>{{book.Email}}</td>
	<td>{{book.Number}}</td>
	<td>{{book.Checkin}}</td>
	<td>{{book.Checkout}}</td>
	<td>{{book.Noofpeople}}</td>
</tr>
{% endfor %}


</table>

<form method="post" action="/book">
	{% csrf_token %}
	<button type="submit" name="prev" id="prev" value="prev">prev</button>
	<input type="number" name="page" value="{{page}}" id="page">
	<button type="submit" name="next" id="next" value="next">next</button>
</form>

</div>


<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#booking").addClass("active");
	})


	$("#booksearch").keydown(()=>{
		$.ajax({
			data:{search:$("#booksearch").val()},
			url:'/booksearch',
			method:'GET',
			success:function(data){
				console.log(data);
				$("tr").not("tr:first").remove();
				
				for(d of data){
					var html="";
					html+="<tr>";
						html+="<td>"+d.book_id+"</td>";
						html+="<td>"+d.Fname+"</td>";
						html+="<td>"+d.Lname+"</td>";
						html+="<td>"+d.Email+"</td>";
						html+="<td>"+d.Number+"</td>";
						html+="<td>"+d.Checkin+"</td>";
						html+="<td>"+d.Checkout+"</td>";
						html+="<td>"+d.Noofpeople+"</td>";
						
					html+="</tr>"

					$("table").append(html);
				}
			},error:function(error){
				console.log(error)
			},complete:function(){
				console.log("complete")
			}
		})
	})
</script>
{% endblock content %}