{% extends "layout2.html" %}
{% block content %}
<form method="post" class="form1" action="/bookupdate/{{booking.book_id}}">
	{% csrf_token %}
	First Name:<input type="name" class="form-control" name="Fname" value="{{booking.Fname}}">
	Last Name:<input type="name" class="form-control" name="Lname" value="{{booking.Lname}}">
	Email:<input type="email" class="form-control" name="Email" value="{{booking.Email}}">
	Phone Number:<input type="number" class="form-control" name="Number" value="{{booking.Number}}">
	Check in Date:<input type="name" class="form-control" name="Checkin" value="{{booking.Checkin}}">
	Check out Date:<input type="name" class="form-control" name="Checkout" value="{{booking.Checkout}}">
	No of People:<input type="number" class="form-control" name="Noofpeople" value="{{booking.Noofpeople}}">
	
	
	

<button type="submit" class="btn btn-primary">submit</button>
</form>
<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#booking").addClass("active");
	})
</script>
{% endblock content %}