{% extends "layout2.html" %}
{% block content %}
<a id="btnadd" href="/bookcreate" class="btn btn-primary">add</a>
<input type="text" id="search" class="form-control col-md-4" style="margin-left: 10px">
<div class="table-responsive">
<table class="table">

	<tr>
		<th>ID</th>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Email</th>
		<th>Number</th>
		<th>CheckIN Date</th>
		<th>Checkout Date</th>
		<th>No of people</th>
		<th>Action</th>
	</tr>

{% for book in books %}
<tr>
	<td>{{book.book_id}}</td>
	<td>{{book.Fname}}</td>
	<td>{{book.Lname}}</td>
	<td>{{book.Email}}</td>
	<td>{{book.Number}}</td>
	<td>{{book.Checkin}}</td>
	<td>{{book.Checkout}}</td>
	<td>{{book.Noofpeople}}</td>
	<td><a class="" href="/bookedit/{{book.book_id}}">edit</a> | <a href="/bookdelete/{{book.book_id}}">delete</a></td>
</tr>
{% endfor %}


</table>
</div>


<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#booking").addClass("active");
	})


	$("#search").keydown(()=>{
		$.ajax({
			data:{search:$("#search").val()},
			url:'/search',
			method:'GET',
			success:function(data){
				console.log(data);
				$("tr").not("tr:first").remove();
				
				for(d of data){
					var html="";
					html+="<tr>";
						html+="<td>"+d.admin_user+"</td>";
						html+="<td>"+d.fname+"</td>";
						html+="<td>"+d.lname+"</td>";
						html+="<td>"+d.email+"</td>";
						html+="<td>"+d.password+"</td>";
						html+="<td>"+d.cpassword+"</td>";
						html+="<td><a href='/adminedit/"+d.admin_user+"'>adminedit</a> | <a href='/admindelete/"+d.admin_user+"'>admindelete</a></td>";

					html+="</tr>"

					$("table").append(html);
				}
			},error:function(error){
				console.log(error)
			},complete:function(){
				console.log("complete")
			}
		})
	})
</script>
{% endblock content %}