{% extends "layout2.html" %}
{% block content %}
<form method="post" class="form1" action="/update/{{user.user_id}}">
	{% csrf_token %}
	First name:<input type="text" class="form-control" name="userfname" value="{{user.userfname}}">
	Last Name:<input type="text" class="form-control" name="userlname" value="{{user.userlname}}">
	Email:<input type="email" class="form-control" name="useremail" value="{{user.useremail}}">
	Password:<input type="password" class="form-control" name="userpassword" value="{{user.userpassword}}">
	Confirm Password:<input type="password" class="form-control" name="usercpassword" value="{{user.usercpassword}}">

<button type="submit" class="btn btn-primary">submit</button>
</form>
{% endblock content %}