{% extends "layout.html" %}
{% block content %}
{%load static%}

 <div class="slide">
<div id="carouselExampleControls" class="carousel slide ml-auto" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleControls" data-slide-to="0" class="active">
		</li>
		<li data-target="#carouselExampleControls" data-slide-to="1">
		</li>
		<li data-target="#carouselExampleControls" data-slide-to="2" >
		</li>
		<li data-target="#carouselExampleControls" data-slide-to="3" >
		</li>
	</ol>
	

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'Images/r1.jpg' %}" class="d-block w-100" alt="room">
      <div class="carousel-caption">
        <h3>SHbooking</h3>
        <p>SHBooking is always a fun way to book a hotel room</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'Images/r2.jpg'%}" class="d-block w-100" alt="room">
       <div class="carousel-caption">
        <h3>SHbooking</h3>
        <p>You will never feel Homesick in this Hotel</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'Images/r3.jpg'%}" class="d-block w-100" alt="room">
    </div>

    <div class="carousel-item">
      <img src="{% static 'Images/r4.jpg'%}" class="d-block w-100" alt="room">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>



<div class="box">
	<h2>Hotel Rooms</h2>
	<div class="row">
	{% for room in rooms %}
	<div class="col-sm-3">
	<div class="product-top">
	<img src="{% static '/Images/'%}{{room.image}}">
		<div class="overlay">
		<button type="button" class="btn btn-secondary" onclick="window.location.href = '/booking';" title="Booking">
		<i class="fa fa-bookmark" aria-hidden="true"></i>
		</button>
		<button type="button" class="btn btn-secondary" title="Detail">
		<i class="fa fa-info" aria-hidden="true"></i>
		</button>
		</div>
	</div>

	<div class="product-bottom text-center">
		<i class="fa fa-star" ></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fas fa-star-half-alt"></i>
		<i class="far fa-star"></i>
		<h3>{{room.roomname}}</h3>
		<h4>{{room.description}}</h4>
		<h5>from ${{room.price}}</h5>
	</div>
 	</div>
 	{% endfor %}

 	

	</div>
</div>

{% endblock content %}





