{% extends "layout2.html" %}
{% block content %}
<a id="btnadd" href="/create" class="btn btn-primary">add</a>
<input type="text" id="search" placeholder="search by email" class="form-control col-md-4" style="margin-left: 10px">

<table class="table">
	
	<tr>
		<th>ID</th>
		<th>Firstname</th>
		<th>lastname</th>
		<th>email</th>
		<th>password</th>
		<th>confirmpassword</th>
		<th>action</th>
	</tr>


{% for user in users %}
<tr>
	<td>{{user.user_id}}</td>
	<td>{{user.userfname}}</td>
	<td>{{user.userlname}}</td>
	<td>{{user.useremail}}</td>
	<td>{{user.userpassword}}</td>
	<td>{{user.usercpassword}}</td>
	<td><a class="" href="/edit/{{user.user_id}}">edit</a> | <a href="/delete/{{user.user_id}}">delete</a></td>
</tr>
{% endfor %}


</table>
<form method="post" action="/">
	{% csrf_token %}
	<button type="submit" name="prev" id="prev" value="prev">prev</button>
	<input type="number" name="page" value="{{page}}" id="page">
	<button type="submit" name="next" id="next" value="next">next</button>
</form>

<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#customer").addClass("active");
	})


	$("#search").keyup(()=>{
		$.ajax({
			data:{search:$("#search").val()},
			url:'/search',
			method:'GET',
			success:function(data){
				console.log(data);
				$("tr").not("tr:first").remove();
				
				for(d of data){
					var html="";
					html+="<tr>";
						html+="<td>"+d.user_id+"</td>";
						html+="<td>"+d.userfname+"</td>";
						html+="<td>"+d.userlname+"</td>";
						html+="<td>"+d.useremail+"</td>";
						html+="<td>"+d.userpassword+"</td>";
						html+="<td>"+d.usercpassword+"</td>";
						html+="<td><a href='/edit/"+d.user_id+"'>edit</a> | <a href='/delete/"+d.user_id+"'>delete</a></td>";

					html+="</tr>"

					$("table").append(html);
				}
			},error:function(error){
				console.log(error)
			},complete:function(){
				console.log("complete")
			}
		})
	})
</script>
{% endblock %}