<!DOCTYPE html>
<html>
<head>

{% load static %}
<title></title>
<link rel="stylesheet" type="text/css" href="{% static 'style/custom.css' %}">
<script src="{% static 'js/jquery-3.4.1.min.js'%}">

</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a href="#" class="navbar-brand">SHBooking</a>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
		<span class="navbar-toggler-icon"></span>

	</button>
	<div class="collapse navbar-collapse" id="navbarmenu">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a href="home" class="nav-link">Home</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a href="#" class="nav-link">Log out</a></li>
	</ul>
	
</div>
</nav>

<div class="container-fluid">
<div class="row">
<div class="col-md-2 sidebar">
<ul class="list-group">
	<li id="admin" class="list-group-item list-group-item-action"><a href="/admindetail" class="link">Admin Details</a></li>
	<li id="customer" class="list-group-item list-group-item-action active"><a href="/" class="link">Customer</a></li>
	<li id="room" class="list-group-item list-group-item-action"><a href="/room" class="link">Room</a></li>
	<li id="booking" class="list-group-item list-group-item-action"><a href="/book" class="link">Booking</a></li>
	
</ul>
</div>

<div class="col-md-10">
	

{% block content %}

{% endblock content %}

</div>
</div>
</div>
</body>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</html>