{% extends "layout.html" %}
{% block content %}
{% load static %}

<form method="post" action="/userentry">
	{% csrf_token %}
	
	<div class="form-group l">
		<img src="{% static 'Images/user.jpg'%}" alt="User">
	</div>
  <div class="form-group l">
    <label class="">Email address</label>
    <input type="email" name="useremail"  class="form-control"  placeholder="Enter email">
   
  </div>
  <div class="form-group l">
    <label>Password</label>
    <input type="password" name="userpassword" class="form-control" placeholder="Password">
  </div>
  <div class="form-check l">
    <input type="checkbox" class="form-check-input" id="Check1">
    <label class="form-check-label">Remember me</label>
  </div>
  <div class="but l">
  <button type="submit" class="btn btn-primary" name="button1">Login</button>

</div>

</form>
<br>
<br>
{% for message in messages %}
  {{message}}
{% endfor %}

{% endblock content %}