{% extends "layout.html" %}
{% block content %}
{% load static %}	
<form method="post" class="profileform1">
	{% csrf_token %}
	
	<div class="form-group l">
		<img src="{% static 'Images/profile.png' %}" alt="profile pic">
	</div>

	<label>First Name</label>
	<input type="text" name="fname" readonly class="form-control" value="{{user.userfname}}">
	<label>Last Name</label>
	<input type="text" name="lname" readonly class="form-control" value="{{user.userlname}}">
	<label>Email</label>
	<input type="email" name="email" readonly class="form-control" value="{{user.useremail}}">
	<label>Password</label>
	<input type="password" name="password" readonly class="form-control" value="{{user.userpassword}}">
	<label>Confirm password</label>
	<input type="password" name="cpassword" readonly class="form-control" value="{{user.usercpassword}}">
	<button type="submit"><a href="/edituserdetail/{{user.user_id}}">edit</a></button>



</form>
{% endblock content %}