{% extends "layout2.html" %}
{% block content %}
<form method="post" class="form1" action="/roomupdate/{{room.room_id}}" enctype="multipart/form-data">
	{% csrf_token %}
	Roomname:<input type="name" class="form-control" name="roomname" value="{{room.roomname}}">
	Description:<input type="text" class="form-control" name="description" value="{{room.description}}">
	Room Price:<input type="number" class="form-control" name="price" value="{{room.price}}">
	{% load static %}
	<img width="100" src="{% static '/Images/' %}{{room.image}}">
	<input type="file" class="form-control" name="image">

<button type="submit" class="btn btn-primary">submit</button>
</form>
<script>
	$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#room").addClass("active");
	})
</script>
{% endblock content %}